{% extends 'layout.html' %}

{% block body %}
    <h1 class="text-center">Tiny Url</h1>
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
      <form action="" class="justify-content-center">
          <div class="form-group">
              <input name="URL" type="text" class="form-control text-center" placeholder="URL larga">
              <h5>Custom (Optional)</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">localhost:5000/</span>
                </div>
                <input name="key" type="text" placeholder="Key" class="form-control">
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Generar</button>
      </form> 
    </div>
    {% if result %}
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
      <h4>Resultado</h4>
      <h6>URL: <input type="text" value="localhost:5000/{{result['key']}}" id="myInput"></h6>
      

      <!-- The button used to copy the text -->
      <button onclick="myFunction()">Copy link</button>
    </div>
    <script>
      function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }

    </script>
    
    {% endif %}
    
{% endblock %} 