{% extends 'layout.html' %}

{% block body %}
    <h1 class="text-center">Search</h1>
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <form action="" class="justify-content-center">
            <div class="form-group">
                <h5>Ingrese Tiny URL</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">localhost:5000/</span>
                    </div>
                    <input name="key" type="text" placeholder="Key" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </form> 
        </div>
    {% if urls %}
    <h1 class="text-center">URLs</h1>
        {% if urls %}
        <table class="table table-hover table-dark col-xl-8 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <thead>
            <tr>
                <th scope="col">Tiny_URL</th>
                <th scope="col">Original URL</th>
                <th scope="col">Creacion</th>
                <th scope="col">Borrar</th> 
            </tr>
            </thead>
            <tbody>
            {% for k, v in urls.items() %}
            <tr>
                <td>localhost:5000/{{k}}</td>
                <td>{{v['url']}}</td>
                <td>{{v['date']}}</td>
                <td>
                <form action="" class="justify-content-center">
                    <button type="submit" class="btn btn-light btn-lg" name="keyb" value="{{k}}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg></button>
                </form>
                </td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>No hay Tiny_URL disponibles</h1>
        {% endif %}

    {% endif %}

{% endblock %} 