{% extends 'layout.html' %}

{% block body %}
    <h1 class="text-center">Stats</h1>
    {% if urls %}
     <table class="table table-hover table-dark col-xl-8 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <thead>
          <tr>
            <th scope="col">Tiny_URL</th>
            <th scope="col">Original URL</th>
            <th scope="col">Creacion</th>
            <th scope="col">Visitas</th> 
          </tr>
        </thead>
        <tbody>
        {% for k, v in urls.items() %}
          <tr>
            <td>localhost:5000/{{k}}</td>
            <td>{{v['url']}}</td>
            <td>{{v['date']}}</td>
            <td>{{v['visitas']}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1>No hay Tiny_URL disponibles</h1>
    {% endif %}

{% endblock %} 